.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  overflow: visible !important;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0;
    gap: 5px;
    overflow: hidden;
  }
  .container > div {
    transform: skew(0deg);
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
