.card {
  position: relative;
  border-radius: 10px;
  border: 4px solid #fff;
  background-color: #f3efe0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
  animation: enter 0.4s;
  /* min-width: 250px; */
  /* text-align: end; */
  cursor: pointer;
  min-height: 250px;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.1);
  z-index: 100;
}
.card:hover .imageContainer {
  border-radius: 10px 10px 0 0;
}

.imageContainer {
  transition: all 0.3s ease-in-out;
  position: relative;
  border-radius: 10px 10px 50% 0;
  width: 100%;
  height: 70%;
  min-height: 150px;
  overflow: hidden;
}
.categoryContainer {
  padding: 5px;
}
.category {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: #22a39f;
  padding: 5px 10px;
  border-radius: 20px;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  color: #434242;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  font-weight: bold;
  font-size: 1.3rem;
  color: #434242;
}

.bottomContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 5px;
}

@keyframes enter {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
