.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(100%, 0);
  z-index: 1000;
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  background: #f4f4f4;
  top: 0;
  right: 0;
  padding: 20px;
  animation: enter 0.4s forwards;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.itemsContainer {
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* background-color: #555; */
  padding: 5px;
  /* border: 5px solid #333; */
  margin-bottom: 10px;
}

.cartItem img {
  min-width: 25%;
  width: 25%;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.cartItemTitle {
  font-weight: bold;
  display: block;
}
.cartItemTotal {
  display: block;
  font-size: 0.9rem;
}

.closeButton {
  display: inline;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 2rem;
}

.cartItemQuantity {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.checkoutButton {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
