.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  overflow: hidden;
}
.container h2 {
  font-size: 3rem;
  margin: 0;
}
.container p {
  margin: 20px 0;
  font-style: italic;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 50px;
}
@media (max-width: 900px) {
  .container {
    margin: 0;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
