.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  /* position: relative; */
  /* overflow: hidden; */
}
.container h2 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 20px;
}
.container p {
  font-style: italic;
}

.detailsContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.checkoutItemsContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
  padding: 20px;
}
.checkoutItem {
  background: #f3efe0;
  color: #222222;
  border-radius: 10px;
  border: 3px solid white;
  align-items: center;
  display: flex;
  gap: 10px;
}
.checkoutItem .imageContainer {
  position: relative;
  flex-shrink: 0;
  width: 30%;
  min-height: 100%;
  height: 100px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.checkoutItem .textContainer {
  padding: 10px 0;
}
.checkoutItem span {
  display: block;
  margin-bottom: 5px;
}
.checkoutItem span:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.stripeBudgetContainer {
  width: 200px;
  height: 50px;
  position: relative;
}
.stripeContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  width: 50%;
}

.stripeContainer h3 {
  font-size: 1.3rem;
}

.btnStripe {
  background: #635bff;
}

.totalPrice {
  font-size: 1.5rem;
  margin: 20px 0;
}

@media (max-width: 900px) {
  .container {
    width: 90%;
    padding: 0;
  }
  .detailsContainer {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .checkoutItemsContainer {
    order: 1;
  }
  .checkoutItemsContainer,
  .stripeContainer {
    width: 100%;
  }
}
