.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  overflow: hidden;
  min-height: 85vh;
}
.container h2 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 20px;
}
.container p {
  /* max-width: 70%; */
  font-style: italic;
}

.detailsContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.checkoutItemsContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
  padding: 20px;
}
.checkoutItem {
  background: #333;
  color: #f4f4f4;
  border-radius: 10px;
  border: 3px solid white;
  align-items: center;
  display: flex;
  gap: 10px;
  /* overflow: hidden; */
}
.checkoutItem img {
  border-radius: 5px 0 0 5px;
}
.checkoutItem span {
  display: block;
  margin-bottom: 5px;
}
.checkoutItem span:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.stripeBudgetContainer {
  width: 200px;
  height: 50px;
  position: relative;
  /* height: 100px; */
}
.stripeContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  padding: 20px;
  width: 50%;
}

.stripeContainer h3 {
  font-size: 1.3rem;
}

.btnStripe {
  background: #635bff;
}

.totalPrice {
  font-size: 1.5rem;
  margin: 20px 0;
}
