html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}
header::before {
  content: "";
  z-index: -1;
  position: absolute;
  background: #f6e0fe;
  border-radius: 0 0 50% 20%;
  width: 100%;
  height: 500px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  text-align: center;
}
@media (max-width: 900px) {
  header {
    display: block;
  }
}
