html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #111;
  }
}
header {
  display: flex;
  background: #333;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
}
header h1,
header div {
  flex-grow: 1;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  text-align: center;
}
@media (max-width: 900px) {
  header {
    display: block;
  }
}
