.container {
  display: flex;
  max-width: 1400px;
  margin: 50px auto;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.mainTextContainer {
  display: block;
  font-size: 2rem;
  text-align: left;
  /* margin-top: 50px; */
  width: 40%;
}
.mainTextContainer p {
  font-size: 1.3rem;
  margin-bottom: 40px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  width: 60%;
  /* overflow: hidden; */
}

.cardContainer > div {
  transform: skew(-10deg, 10deg);
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    margin: 0;
    padding: 0 10px;
  }
  .mainTextContainer {
    margin-top: 0px;
    width: 100%;
    padding: 0 10px;
  }
  .mainTextContainer h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  .mainTextContainer p {
    font-size: 1.2rem;
  }
  .cardContainer {
    width: 100%;
    margin: 0;
    gap: 5px;
    overflow: hidden;
  }
  .cardContainer > div {
    transform: skew(0deg);
  }
}
@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
