.container {
  display: flex;
  max-width: 1400px;
  margin: 50px auto;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.mainTextContainer {
  display: block;
  font-size: 2rem;
  text-align: left;
  margin-top: 100px;
  width: 40%;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  width: 60%;
  /* overflow: hidden; */
}

.cardContainer > div {
  transform: skew(-10deg, 10deg);
}

@media (max-width: 900px) {
  .container {
    display: block;
  }
  .cardContainer {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    margin: 0 auto;
    /* overflow: hidden; */
  }
}
