.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1100px;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 10px;
  font-size: 14px;
}
.card h4 {
  font-size: 16px;
}
.card img {
  max-width: 80%;
  margin: 0 auto;
}
