.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.productDetailsContainer {
  max-width: 500px;
  border-radius: 20px;
  border: 5px solid white;
  background: var(--product-background);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  animation: 0.5s enter;
}
.imageContainer {
  overflow: hidden;
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px 20px 20% 20%;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.productDetailsContainer > div:nth-child(2) {
  padding: 30px;
}

.productDetailsContainer h2 {
  font-size: 1.8rem;
}

.productSelections {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--product-background);
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  border: 5px solid white;
  opacity: 0;
  animation: 0.5s enter forwards 0.2s;
  margin-top: 50px;
}

.relatedProductsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  /* flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  max-width: 1200px;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
}

.price {
  font-size: 2.3rem;
  display: block;
  font-weight: bold;
}

.sizeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.sizeContainer > button {
  background: #fafafa;
  color: black;
}

.selected {
  color: white !important;
  background-color: black !important;
  opacity: 0.8;
  font-weight: bold;
  transform: scale(1.1);
}

.quantityContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}
.quantityContainer > button {
  color: white !important;
  background-color: black !important;
  opacity: 0.8;
  padding: 5px 15px;
}
.quantityContainer span {
  font-size: 1.5rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonsContainer button {
  font-size: 1.4rem;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .productDetailsContainer > div:nth-child(2) {
    padding: 10px;
    margin-top: 20px;
  }
  .imageContainer {
    height: 250px;
  }
  .productSelections {
    margin: 0;
    width: 100%;
    padding: 10px;
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .relatedProductsContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translatey(20px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}
