.container {
  display: flex;
  max-width: 90%;
  margin: 20px auto;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.container > div {
  /* width: 50%; */
}
.productDetailsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border-radius: 20px;
  border: 5px solid white;
  background: var(--product-background);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  animation: 0.5s enter;
}
.imageContainer {
  overflow: hidden;
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px 20px 20% 20%;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.productDetailsContainer > div:nth-child(2) {
  padding: 30px;
  border-radius: 0 0 20px 20px;
  /* background: #f0f0f0; */
  width: 100%;
}
.productDetailsContainer h2 {
  font-weight: normal;
  font-size: 1.8rem;
}

.productSelections {
  background: var(--product-background);
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid white;
  opacity: 0;
  animation: 0.5s enter forwards 0.2s;
  margin-top: 100px;
}

.relatedProductsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .productSelections {
    margin: 0;
    width: 100%;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translatey(20px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}
