.container {
  display: block;
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
  min-height: 85vh;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container h2 {
  font-size: 3rem;
  margin: 0;
}
.container h3 {
  font-size: 1.5rem;
}

.avatar {
  display: flex;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #f4f4f4;
  font-size: 2rem;
  background: #333;
  border-radius: 50%;
  margin: 10px 0;
  border: 5px solid #ffbd59;
}

.userDetailsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.userDetailsContainer span {
  display: block;
  font-size: 1.2rem;
}

.orderHistoryContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
  max-width: 600px;
}
.orderHistoryContainer > div {
  background: #333;
  color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 10px;
  width: 90%;
}
.orderHistoryContainer > div h4 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.orderHistoryItem {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.orderHistoryItem div:first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid #f4f4f4;
}
.orderHistoryItem span {
  display: block;
}

.orderHistoryItem .createdAt {
  font-style: italic;
  font-size: 0.8rem;
}
.orderHistoryItem .orderTotal {
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .container {
    width: 90%;
    padding: 10px;
    min-height: 80vh;
  }
  .userDetailsContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .avatar {
    min-width: 70px;
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    border-width: 3px;
  }
}
