.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  max-width: 1000px;
  padding: 50px;
  margin: 0 auto;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userDetailsContainer {
  margin-top: 20px;
  font-size: 1.2rem;
}
.userDetailsContainer span {
  display: block;
}

.orderHistoryContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
  max-width: 500px;
}

.orderHistoryItem h4 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.orderHistoryItem {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  background: #fafafa;
  border: 3px solid #22a39f;
  color: #434242;
  border-radius: 10px;
  width: 95%;
}
.orderHistoryItem div:first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid #f4f4f4;
}
.orderHistoryItem span {
  display: block;
}

.orderHistoryItem .createdAt {
  font-style: italic;
  font-size: 0.8rem;
}
.orderHistoryItem .orderTotal {
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    padding: 20px;
  }
  .userDetailsContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .avatar {
    min-width: 70px;
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    border-width: 3px;
  }
}
