.search {
  flex-grow: 4;
  position: relative;
}
.search input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
}
.search input:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}
.searchResultsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transform: translate(2.5%, 10px);
  width: 95%;
  z-index: 999;
  padding: 5px;
  gap: 10px;
  transition: all 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.searchResultsItem {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.searchResultsItem:hover {
  background-color: #f4f4f4;
}
